mixin link(item, activeClass)
  - const classes = activeClass ? `page-nav__link ${activeClass}` : 'page-nav__link'
  a(href=item.href, class=classes) #{ item.name }

mixin simpleNav()
  nav.page-nav
    include setup
      +link(item, activeClass)

mixin pipeSeparated()
  nav.page-nav.page-nav--pipe-separated
    include setup
      if index !== 0
        | &nbsp;|&nbsp;
      +link(item, activeClass)

mixin linkList()
  ul.page-nav.page-nav--list
    include setup
      li.page-nav__item
        +link(item, activeClass)
